# **this is my first notebook**

In [ ]:
print ("hello world")

hello world

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [40]:
df=pd.read_csv('/content/drive/My Drive/data_science_workshop/test_data.csv',index_col='sample_name')

In [41]:
df.head()

             column0 column1 column2  column3  column4
sample_name
sample1      control     yes    0.25     0.10     0.00
sample2         case     yes     0.9     0.25     0.75
sample3      control     yes    0.43     0.23     0.02
sample4         case      no    c084     0.34     0.90

In [42]:
df['column2']

sample_name
sample1    0.25
sample2     0.9
sample3    0.43
sample4    c084
Name: column2, dtype: object

In [43]:
df1=df[['column2','column4']]
df1.head()

            column2  column4
sample_name
sample1        0.25     0.00
sample2         0.9     0.75
sample3        0.43     0.02
sample4        c084     0.90

In [44]:
df['column34']=df['column3']+df['column4']
df.head()

             column0 column1 column2  column3  column4  column34
sample_name
sample1      control     yes    0.25     0.10     0.00      0.10
sample2         case     yes     0.9     0.25     0.75      1.00
sample3      control     yes    0.43     0.23     0.02      0.25
sample4         case      no    c084     0.34     0.90      1.24

In [45]:
df['column01']=df['column0']+"_"+df['column1']
df.head()

             column0 column1 column2  column3  column4  column34     column01
sample_name
sample1      control     yes    0.25     0.10     0.00      0.10  control_yes
sample2         case     yes     0.9     0.25     0.75      1.00     case_yes
sample3      control     yes    0.43     0.23     0.02      0.25  control_yes
sample4         case      no    c084     0.34     0.90      1.24      case_no

In [46]:
df.loc[df['column0']=='control','new_column0']=10
df.loc[df['column0']=='case','new_column0']=9
df.head()

             column0 column1 column2  ...  column34     column01  new_column0
sample_name                           ...
sample1      control     yes    0.25  ...      0.10  control_yes         10.0
sample2         case     yes     0.9  ...      1.00     case_yes          9.0
sample3      control     yes    0.43  ...      0.25  control_yes         10.0
sample4         case      no    c084  ...      1.24      case_no          9.0

[4 rows x 8 columns]

In [47]:
df.loc[df['column0'] == 'control']

             column0 column1 column2  ...  column34     column01  new_column0
sample_name                           ...
sample1      control     yes    0.25  ...      0.10  control_yes         10.0
sample3      control     yes    0.43  ...      0.25  control_yes         10.0

[2 rows x 8 columns]

In [48]:
df.loc[df['column3'] >0.15]

             column0 column1 column2  ...  column34     column01  new_column0
sample_name                           ...
sample2         case     yes     0.9  ...      1.00     case_yes          9.0
sample3      control     yes    0.43  ...      0.25  control_yes         10.0
sample4         case      no    c084  ...      1.24      case_no          9.0

[3 rows x 8 columns]

In [49]:
df.dtypes

column0         object
column1         object
column2         object
column3        float64
column4        float64
column34       float64
column01        object
new_column0    float64
dtype: object

In [50]:
pd.to_numeric(df['column2'], errors='coerce')
df.head()

             column0 column1 column2  ...  column34     column01  new_column0
sample_name                           ...
sample1      control     yes    0.25  ...      0.10  control_yes         10.0
sample2         case     yes     0.9  ...      1.00     case_yes          9.0
sample3      control     yes    0.43  ...      0.25  control_yes         10.0
sample4         case      no    c084  ...      1.24      case_no          9.0

[4 rows x 8 columns]

In [51]:
df['column2'] = pd.to_numeric(df['column2'], errors='coerce')
df.head()

             column0 column1  column2  ...  column34     column01  new_column0
sample_name                            ...
sample1      control     yes     0.25  ...      0.10  control_yes         10.0
sample2         case     yes     0.90  ...      1.00     case_yes          9.0
sample3      control     yes     0.43  ...      0.25  control_yes         10.0
sample4         case      no      NaN  ...      1.24      case_no          9.0

[4 rows x 8 columns]

**"Cleaning the data"**

In [35]:
df1=df.dropna(subset=['column2'])
df1.head()

             column0 column1  column2  ...  column34     column01  new_column0
sample_name                            ...
sample1      control     yes     0.25  ...      0.10  control_yes         10.0
sample2         case     yes     0.90  ...      1.00     case_yes          9.0
sample3      control     yes     0.43  ...      0.25  control_yes         10.0

[3 rows x 8 columns]

Merging Data

In [52]:
df2=pd.read_csv('/content/drive/My Drive/data_science_workshop/test_data2.csv',index_col='sample_name')
df2.head()

             age
sample_name
sample1       25
sample4       33
sample3       55

In [53]:
df_full=df.merge(df2,on='sample_name')
df_full.head()

             column0 column1  column2  ...     column01  new_column0  age
sample_name                            ...
sample1      control     yes     0.25  ...  control_yes         10.0   25
sample3      control     yes     0.43  ...  control_yes         10.0   55
sample4         case      no      NaN  ...      case_no          9.0   33

[3 rows x 9 columns]

In [54]:
df_full=df.merge(df2,on='sample_name',how='inner')
df_full.head()

             column0 column1  column2  ...     column01  new_column0  age
sample_name                            ...
sample1      control     yes     0.25  ...  control_yes         10.0   25
sample3      control     yes     0.43  ...  control_yes         10.0   55
sample4         case      no      NaN  ...      case_no          9.0   33

[3 rows x 9 columns]

In [55]:
df_full=df.merge(df2,on='sample_name',how='outer')
df_full.head()

             column0 column1  column2  ...     column01  new_column0   age
sample_name                            ...
sample1      control     yes     0.25  ...  control_yes         10.0  25.0
sample2         case     yes     0.90  ...     case_yes          9.0   NaN
sample3      control     yes     0.43  ...  control_yes         10.0  55.0
sample4         case      no      NaN  ...      case_no          9.0  33.0

[4 rows x 9 columns]

In [57]:
df_full.loc[df_full['age'] >25, 'age_cat'] = 'gt10'
df_full.loc[df_full['age'] <=25, 'age_cat'] = 'lt10'
df_full.head()

             column0 column1  column2  ...  new_column0   age  age_cat
sample_name                            ...
sample1      control     yes     0.25  ...         10.0  25.0     lt10
sample2         case     yes     0.90  ...          9.0   NaN      NaN
sample3      control     yes     0.43  ...         10.0  55.0     gt10
sample4         case      no      NaN  ...          9.0  33.0     gt10

[4 rows x 10 columns]

statistics

In [60]:
new_group=df_full.groupby('column0').mean()
new_group.head()

         column2  column3  column4  column34  new_column0   age
column0
case        0.90    0.295    0.825     1.120          9.0  33.0
control     0.34    0.165    0.010     0.175         10.0  40.0

In [62]:
new_group=df_full.groupby(['column0','age_cat']).mean()
new_group.head()

                 column2  column3  column4  column34  new_column0   age
column0 age_cat
case    gt10         NaN     0.34     0.90      1.24          9.0  33.0
control gt10        0.43     0.23     0.02      0.25         10.0  55.0
        lt10        0.25     0.10     0.00      0.10         10.0  25.0